Ex:1

In [3]:
print("Hello, World!")

Hello, World!

Chech the version of editer

#What is the correct file extension for Python files?

#.py

What is a correct command line syntax for checking if python is installed on your computer? (And also to check the Python version):
python --version

What is a correct syntax to exit the Python command line interface?

In [37]:
exit()

In [26]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

Syntax

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Syntax error

In [4]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3793329317.py, line 2)

Several spaces

In [13]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [16]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (3430240237.py, line 3)

Comment

In [19]:
#This is a comment
print("Hello, World!")

Hello, World!

In [21]:
print("Hello, World!") #This is a comment

Hello, World!

In [23]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [25]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [27]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Which character is used to define a Python comment:

"#"

Comments in Python are written with a special character, which one?

In [33]:
#This is a comment

Use a multiline string to make the a multiline comment:

In [38]:
'''This is a comment
written in 
more than just one line'''

'This is a comment\nwritten in \nmore than just one line'

Variable

A variable is created the moment you first assign a value to it.

In [42]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [45]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

If you want to specify the data type of a variable, this can be done with casting.

In [48]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

You can get the data type of a variable with the type() function.

In [53]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

String variables can be declared either by using single or double quotes:

In [56]:
x = "John"
# is the same as
x = 'John'

Variable names are case-sensitive.

In [59]:
a = 4
A = "Sally"
#A will not overwrite a

Test 1, What is a correct way to declare a Python variable?

In [6]:
x=5

In [14]:
"You can declare string variables with single or double quotes."
#True

'You can declare string variables with single or double quotes.'

In [20]:
x = "John"
# is the same as
x = 'John'

True or False:
Variable names are not case-sensitive. False

In [23]:
a = 5
# is the same as
A = 5

Variable names

In [62]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [64]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (3407628864.py, line 3)

In [66]:
#CamelCase
myVariableName = "John"

In [68]:
#Pascal Case
#Each word starts with a capital letter:

MyVariableName = "John"

In [70]:
'''Snake Case
Each word is separated by an underscore character:'''
my_variable_name = "John"

Which is NOT a legal variable name?

In [74]:
my-var = 20

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4097464713.py, line 1)

Create a variable named carname and assign the value Volvo to it.

In [77]:
carname="Volvo"

Create a variable named x and assign the value 50 to it.

In [80]:
x=50

Multiple values

In [83]:
#Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [85]:
#And you can assign the same value to multiple variables in one line:


x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [87]:
#Unpack a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

What is a correct syntax to add the value 'Hello World', to 3 variables in one statement?

In [90]:
x = y = z = 'Hello World'

Insert the correct syntax to assign values to multiple variables in one line:

In [93]:
x,y,z = "Orange", "Banana", "Cherry"

Consider the following code:
fruits = ['apple', 'banana', 'cherry']
a, b, c = fruits
print(a)
What will be the result of a

apple

Output variables

In [98]:
x = "Python is awesome"
print(x)

Python is awesome

In [100]:
#In the print() function, you output multiple variables, separated by a comma:

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [102]:
#You can also use the + operator to output multiple variables:

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [104]:
#For numbers, the + character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In [106]:
#In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [108]:
#The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

x = 5
y = "John"
print(x, y)

5 John

Consider the following code:
print('Hello', 'World')
What will be the printed result?

Hello World

Consider the following code:
a = 'Hello'
b = 'World'
print(a + b)
What will be the printed result?

HelloWorld

Consider the following code:
a = 4
b = 5
print(a + b)
What will be the printed result?

9

Global variables

In [118]:
#Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [120]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [122]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [124]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Consider the following code:
x = 'awesome'
def myfunc():
  x = 'fantastic'
myfunc()
print('Python is ' + x)
What will be the printed result?

awesome

Insert the correct keyword to make the variable x belong to the global scope.

In [131]:
def myfunc():
  global x
  x = "fantastic"

Consider the following code:
x = 'awesome'
def myfunc():
  global x
  x = 'fantastic'
myfunc()
print('Python is ' + x)
What will be the printed result?

fantastic1

Data types

In [138]:
#Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

In [142]:
x = "Hello World"	
print(type(x))

<class 'str'>

In [144]:
x = 20	
print(type(x))

<class 'int'>

In [146]:
x = 20.5	
print(type(x))

<class 'float'>

In [148]:
x = 1j
print(type(x))

<class 'complex'>

In [150]:
x = ["apple", "banana", "cherry"]	
print(type(x))

<class 'list'>

In [152]:
x = ("apple", "banana", "cherry")	
print(type(x))

<class 'tuple'>

In [154]:
x = range(6)	
print(type(x))

<class 'range'>

In [156]:
x = {"name" : "John", "age" : 36}	
print(type(x))

<class 'dict'>

In [158]:
x = {"apple", "banana", "cherry"}	
print(type(x))

<class 'set'>

In [160]:
x = frozenset({"apple", "banana", "cherry"})	
print(type(x))

<class 'frozenset'>

In [162]:
x = True	
print(type(x))

<class 'bool'>

In [164]:
x = True	
print(type(x))

<class 'bool'>

In [166]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [168]:
x = bytearray(5)	
print(type(x))

<class 'bytearray'>

In [170]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [172]:
x = None	
print(type(x))

<class 'NoneType'>

In [174]:
x = str("Hello World")	
print(type(x))

<class 'str'>

In [176]:
x = int(20)	
print(type(x))

<class 'int'>

In [178]:
x = float(20.5)	
print(type(x))

<class 'float'>

In [180]:
x = complex(1j)	
print(type(x))

<class 'complex'>

In [182]:
x = list(("apple", "banana", "cherry"))
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [184]:
x = tuple(("apple", "banana", "cherry"))	
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [186]:
x = range(6)	
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [188]:
x = dict(name="John", age=36)	
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [190]:
x = set(("apple", "banana", "cherry"))	
print(x)
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [192]:
x = frozenset(("apple", "banana", "cherry"))
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [194]:
x = bool(5)	
print(x)
print(type(x))

True
<class 'bool'>

In [196]:
x = bytes(5)	
print(x)
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [198]:
x = bytearray(5)	
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [200]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x000001FD7562A800>
<class 'memoryview'>

If x = 5, what is a correct syntax for printing the data type of the variable x?

In [203]:
x=5
print(type(x))

<class 'int'>

The following code example would print the data type of x, what data type would that be? x = 5
print(type(x))

int

The following code example would print the data type of x, what data type would that be?


x = "Hello World"
print(type(x))

str

The following code example would print the data type of x, what data type would that be?


x = 20.5
print(type(x))

float

The following code example would print the data type of x, what data type would that be?


x = ["apple", "banana", "cherry"]
print(type(x))

list

The following code example would print the data type of x, what data type would that be?


x = ("apple", "banana", "cherry")
print(type(x))

tuple

The following code example would print the data type of x, what data type would that be?


x = {"name" : "John", "age" : 36}
print(type(x))

dict

The following code example would print the data type of x, what data type would that be?


x = True
print(type(x))

bool

NUMBERS

In [222]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
#To verify the type of any object in Python, use the type() function:

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [224]:
#Integers:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [226]:
#Floats:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [228]:
#Floats:

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [230]:
#Complex:

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [232]:
#Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [234]:
#import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

5

Which is NOT a legal numeric data type in Python:

long

Insert the correct syntax to convert x into a floating point number.

In [239]:
x = 5
x = float(x)

Insert the correct syntax to convert x into a integer.

In [242]:
x = 5.5
x =int(x)

Insert the correct syntax to convert x into a complex number.

In [245]:
x = 5
x =complex(x)

CASTING

In [248]:
#Integers:

x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [250]:
#Floats:

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [252]:
#Strings:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

What will be the result of the following code:
print(int(35.88))

35

What will be the result of the following code:
print(float(35))

35.0

What will be the result of the following code:
print(str(35.82))

35.82

STRINGS

In [263]:
#You can display a string literal with the print() function:

print("Hello")
print('Hello')

Hello
Hello

In [265]:
#You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [267]:
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

a = "Hello"
print(a)

Hello

In [269]:
#You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [271]:
#Or three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [273]:
#Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

In [275]:
#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [277]:
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [279]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [281]:
#Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [283]:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [285]:
#print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

What will be the result of the following code:
x = 'Welcome'
print(x[3])

c

Use the len function to print the length of the string.

In [290]:
x = "Hello World"
print(len(x))

11

Get the first character of the string txt.

In [293]:
txt = "Hello World"
x = txt[0]

In [295]:
#Insert the correct keyword to check if the word 'free' is present in the text:

txt = 'The best things in life are free!'
if 'free' in txt:
  print('Yes, free is present in the text.')

Yes, free is present in the text.

Slicing strings

In [298]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [300]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [302]:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [304]:
'''Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):'''

b = "Hello, World!"
print(b[-5:-2])

orl

What will be the result of the following code:
x = 'Welcome'
print(x[3:5])

co

Get the characters from index 2 to index 4 (llo).

In [309]:
txt = "Hello World"
x = txt[2:5]

What will be the result of the following code:
x = 'Welcome'
print(x[3:])

come

Modify string

In [316]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [318]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [320]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [322]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [324]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

What is a correct syntax to print a string in upper case letters?

In [329]:
'Welcome'.upper()

'WELCOME'

Return the string without any whitespace at the beginning or the end.

In [332]:
txt = " Hello World "
x = txt.strip()

Convert the value of txt to upper case.

In [335]:
txt = "Hello World"
txt =txt.upper()

Convert the value of txt to lower case.

In [338]:
txt = "Hello World"
txt =txt.lower()

Replace the character H with a J.

In [341]:
txt = "Hello World"
txt = txt.replace('H','J')

String Concatenation

In [344]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [346]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

What is a correct syntax to merge variable x and y into variable z?

z=x+y

What will be the result of the following code:
x = 'Welcome'
y = 'Coders'
print(x + y)

WelcomeCoders

Consider this code:
a = 'Join'
b = 'the'
c = 'party'
What is a correct syntax to print 'Join the party'?

print(a + b + c)

print(a + ' ' + b + ' ' + c)

String Format

In [357]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [359]:
#Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [361]:
#Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [363]:
#Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [365]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

If x = 9, what is a correct syntax to print 'The price is 9.00 dollars'?

In [368]:
x=9
print(f"The price is {x:.2f} dollars")

The price is 9.00 dollars

Insert the correct syntax to add a placeholder for the age parameter.

In [371]:
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

What will be the result of the following code:
print(f'The price is {2 + 3} dollars')

The price is 5 dollars

Escape characters

In [376]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (4106093343.py, line 1)

In [380]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [382]:
txt = "We are the so-called \'Vikings\' from the north."
print(txt)

We are the so-called 'Vikings' from the north.

In [384]:
txt = "We are the so-called \\Vikings\\ from the north."
print(txt)

We are the so-called \Vikings\ from the north.

In [386]:
txt = "We are the so-called \nVikings from the north."
print(txt)

We are the so-called
Vikings from the north.

In [388]:
txt = "We are the so-called \tVikings from the north."
print(txt)

We are the so-called 	Vikings from the north.

In [390]:
txt = "We are the so-called \bVikings from the north."
print(txt)

We are the so-calledVikings from the north.

In [392]:
txt = "We are the so-called \fVikings from the north."
print(txt)

We are the so-called Vikings from the north.

String Methods

In [395]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [397]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [399]:
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [401]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [403]:
txt = "My name is Ståle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [405]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [407]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [409]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [411]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [413]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [415]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [417]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [419]:
txt = "Company123"

x = txt.isascii()

print(x)

True

In [421]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [423]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [425]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [427]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [429]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [431]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [433]:
txt = "   "

x = txt.isspace()

print(x)

True

In [435]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [437]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [439]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [441]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [443]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [445]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [447]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [449]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [451]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [453]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [455]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [459]:
#Return a 20 characters long, right justified version of the word "banana":

txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [461]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [463]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [465]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [467]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [469]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [471]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [473]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [475]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [477]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [479]:
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [481]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [483]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050